body {
    background: gray;
}

#title, .subtitle, .postTitle {
    color: blue;
}

.postTitle {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid black;
}